body {
    font-family: "Open Sans", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 100vw;
    height: 800vh;
    margin: auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#imageContainer {
    width: 100%;
    max-width: 100%;
    height: auto;
    background-image: url('images/display_field.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

#imageContainer img {
    flex: 1 1 auto; 
    width: 80px;
    margin-top: 20px;
    margin-right: 4px;
    margin-left: 4px;
    transition: width 0.3s;
}

@media (max-width: 768px) {
    
    .container {
        padding: 2px;
        border-radius: 1px;
    }

    #imageContainer {
    height: 80%;
    padding: 2px;
    }

    #imageContainer img {
    flex: 1 1 auto; 
    width: 40px;
    margin-top: 10px;
    margin-right: 1px;
    margin-left: 1px;
}

}