body {
    font-family: "Open Sans", sans-serif;
    background-color: #f4f4f4;
    /*margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;*/
}

.container {
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top:40px;
    /*background-color: #fff;
    margin: 20px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}

.row {
    width: 100%;
    max-width: 1200px;
    height: 200px;
    max-height: 300px;
}

#imageContainer {
    width: 100%;
    height: 100%;
    background-image: url('images/display_field.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
}

#imageContainer img {
    flex: 1 1 auto; 
    width: 60px;
    height: fit-content;
    margin-right: 1px;
    margin-left: 1px;
    transition: width 0.3s;
}

@media (max-width: 768px) {

    #imageContainer img {
    flex: 1 1 auto; 
    width: 20px;
    height: auto;
}

}