body {
    font-family: "Open Sans", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input.letter {
    width: 8px;
    border: 1px solid black;
    font-color: black;
}

#imageContainer {
    width: 100%;
    max-width: 1200px;
    height: auto;
    background-image: url('images/display_field.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

#imageContainer img {
    flex: 1 1 auto;
    max-width: 40px;
    min-width: 20px;
    height: auto;
    margin: 4px;
    transition: width 0.3s;
}

@media (max-width: 768px) {
    #imageContainer img {
        max-width: 20px;
        min-width: 10px;
    }
}
